body {
    background-color: #243447;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.page-link {
    position:relative;
    display:block;
    color:#fff;
    text-decoration:none;
    background-color:#6c757d;
    border:1px solid #6c757d;
    transition:color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out}  @media (prefers-reduced-motion:reduce){.page-link{transition:none}}

.page-link:hover {
    z-index:2;
    color:#fff;
    background-color:#5c636a;
    border-color:#565e64
}

.page-link:focus {
    z-index:3;
    color:#fff;
    background-color:#5c636a;
    border-color:#5c636a;
    box-shadow:0 0 0 .25rem rgba(130,138,145,.5)
}

.page-item.active .page-link {
    z-index:3;
    color:#fff;
    background-color:#565e64;
    border-color:#565e64
}

.page-item.disabled .page-link {
    color:#fff;
    pointer-events:none;
    background-color: #2a2b2f;
    border-color: #2a2b2f
}

.page-item:first-child .page-link {
    border-radius:.25rem;
}

.page-item:last-child .page-link {
    border-radius:.25rem;
}
.alert {
    width: 700px;
    max-width: 99%;
    padding: 20px 30px;
    background-color: #9ff29f;
    position: fixed;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    border: transparent;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: #14af13;
}

.alert-error{
    background-color: #d24c63;
    color: #7a0303;
}

.register-ico {
    font-size: 25px;
}

.register-background {
    background-color: transparent;
    border-style: none;
}

.link-register, .link-register:hover {
    text-decoration: none;
}

.link-title {
    text-decoration: none;
    color: #ffffff;
}

.link-title:hover {
    text-decoration: none;
    color: #b8b9c2;
}

.error-code {
    font-size: 100px;
}

.img-show {
    width: 750px;
    height: auto;
}

.img-avatar {
    width: 50px;
    height: auto;
    border-radius: 50%;
}

.comment {
    font-size: 1.25rem;
    background-color: #2a3b54;
    border-bottom: 2px solid #364A6CFF;
    border-radius: 15px;
}
